<div class="card">
  <div class="card-header">
    AlunoS
  </div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-4">
        <input type="date" name="" id="" class="form-control">
      </div>
      <div class="col-md-3">
        <select class="form-select" aria-label="Default select example">
          <option value="1">Falta</option>
          <option value="2">Presença</option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" >Lançar faltas</button>
      </div>
    </div>
  </div>
</div>
