<div *ngIf="opEnd == true">
  <app-toast msg="Faltas lançada com sucesso"></app-toast>
</div>
<div class="card">
  <div class="card-header">
    Aluno {{frequencia.alunoId}}
  </div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-4">
        <select class="form-select" aria-label="Default select example"  [(ngModel)]="frequencia.bimestreId" name="bimestreId" (change) = "teste($event.target.value)">
          <option selected>Selecione o Bimestre</option>
          <option *ngFor="let bim of bimestres" value="{{bim}}">{{bim}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="faltas do bimestre" aria-label="faltas do bimestre" aria-describedby="faltas do bimestre" [(ngModel)]="frequencia.qtd" name="qtd">
          <span class="input-group-text" id="basic-addon2">Faltas</span>
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" (click) = "imprimeForm()">Lançar faltas</button>
      </div>
    </div>
  </div>
</div>


