<div class="card">
  <div class="card-header">
    Alunos
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <th scope="row">{{aluno.id}}</th>
          <td style="width: 70%;">{{aluno.nome}}</td>
          <td>
            <button type="button" class="btn btn-dark" (click) = "lancarFaltas(aluno.id)">Lançar Faltas</button>
          </td>
          <td>
            <button type="button" class="btn btn-secondary" (click) = "lancarNotas(aluno.id)" >Lançar Notas</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
